*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-family: 'Do Hyeon', sans-serif;
}

.container {
    height: auto;
    width: 100%;
}

section {
    margin-top: 4em;
    min-height: 40vh;
}

section:nth-child(odd) {
    background: #FBFBFB;
}

/*   header   */

.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 70px;
    background: #06D6A0;
    width: 100%;
    z-index: 2;
}

.header h1 {
    color: #ffffff;
    letter-spacing: 5px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.header a {
    padding: 7px 15px;
    color: #ffffff;
    letter-spacing: 1.2px;
    font-size: 17px;
}

.header a#headerButton {
    background: orange;
    padding: 10px 13px;
    border-radius: 10px;
}

/*   main-content   */


section.main {
    width: 100%;

    display: flex;
}

.mainTextLeft {
    width: 50%;
    padding: 4em;
}

.textArea1 {
    padding: 1.5em 0;
    font-size: 30px;
    line-height: 60px;
    margin-top: 4em;
}

.textArea2 {
    font-size: 18px;
    margin-bottom: 2em;
}

.textArea3 a {
    font-size: 22px;
    color: rgba(0, 0, 0,0.8);
    background: #ffffff;
    border: 3px solid orange;
    padding: 10px 18px;
    border-radius: 5px;
}

.mainImage {
    width: 50%;
    padding: 6em 2em;
}

.img1 {
    margin: auto;
    width: 620px;
}

.img1 img {
    width: 100%;
}


/*   section main responsive   */

@media screen and (max-width: 1340px) {
    .img1 {
        width: 550px;
    }
    
}

@media screen and (max-width: 1200px) {
    .textArea1 {
        font-size: 24px;
        margin-top: 3.5em;
    }
    .img1 {
        width: 500px;
    }
    .mainTextLeft {
        padding: 2em;
    }
}

@media screen and (max-width: 1100px) {
    section.main {
        flex-direction: column;
        align-items: center;
    }
    .mainTextLeft {
        width: 100%;
    }
    .textArea1 {
        margin: 0;
    }
    .mainImage {
        width: 100%;
        padding: 2em;
    }
    .img1 {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    section {
        margin-top: 6em;
    }
    .img1 {
        width: 520px;
    }
    .mainTextLeft {
        padding: 1.5em 3em;
    }
    .header {
        flex-direction: column;
        gap: 1em;
    }
    #headerButton {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    .img1 {
        width: 450px;
    }
}

@media screen and (max-width: 550px) {
    section {
        margin-top: 8em;
    }
    .img1 {
        width: 350px;
    }
    .mainImage {
        padding: 1em 0;
    }
    .textArea1 {
        line-height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .mainTextLeft {
        padding: 2em .3em;
    }
    .textArea1 {
        font-size: 18px;
        line-height: 30px;
    }
}

/*  section #1 -> WORK  */

.sectionOne {
    padding: 6em;
}

.sectionOneHeading {
    font-size: 30px;
    margin-top: 40px;
    color: #06D6A0;
}

.sectionOneMain {
    height: 100%;
    width: 100%;
    padding: 7%;
}

.work {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;

}

.proejectWrapper {
    position: relative;
    text-align: center;
}

#projectLink {
    color: #06D6A0;
    text-align: center;
    text-decoration: none;

}

.projectimage {
    width: 400px;
    margin: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/*   transition effect BORDER   */

.projectimage::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 5px solid #06D6A0;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
}


.projectimage::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 5px solid #06D6A0;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.projectWrapper:hover .projectimage::after, .projectWrapper:hover .projectimage::before {
    transform: translateX(0%);
}

/*   effect ends   */

.projectimage:hover  {
    transform: scale(1.15);
}



.projectimage img {
    width: 100%;
    height: 250px;
}




/*   section 1 responsive   */

@media screen and (max-width: 1300px) {
    .projectimage {
        width: 300px;
    }

    .projectimage img {
        width: 100%;
        height: 180px;
    }
    
}


@media screen and (max-width: 1000px) {
    .sectionOneHeading {
        text-align: center;
    }
    .work {
        flex-direction: column;
        align-items: center;
    }
    .projectimage {
        width: 500px;
        
    }

    .projectimage img {
        width: 100%;
        height: 350px;
    }
    
}

/*  section 2 about me      */

.sectionTwo {
    margin-top: 6em;
    padding: 3em;
}

.sectionTwoHeading {
    margin-bottom: 3em;
    font-size: 24px;
}

.SectionTwoDetails > p {
    font-size: 20px;
    line-height: 1.3em;
    text-align: justify;
}

/*  section 3 hire me   */

.sectionThree {
    padding: 6em;
}

.sectionThreeMain {
    margin: 3em;
}

.sectionThreeheading {
    font-size: 44px;
}

.sectionThreeDivision {
    display: flex;
    justify-content: space-between;
}

.sectionThreeImage {
    width: 30%;
}

.imgWrapper {
    width: 400px;
}

.sectionThreeImage img {
    width: 100%;
}

.sectionThreeForm {
    margin: 6em 0 0 2em;
    width: 70%;
}

form > div{
    margin-bottom: 40px;
    font-size: 23px;
}

#name, #email, #message {
    width: 90%;
    height: 30px;
    padding: 13px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    border: 0.001px solid rgba(0, 0, 0, 0.2);
}

#message {
    height: 100px;
    padding: 10px;
    text-align: start;
}


#submit {
    padding: 8px 18px;
    border: 3px solid #06D6A0;
    background-color: white;
    color: black;
    font-size: 23px;
    border-radius: 8px;
    cursor: pointer;
    transition: border .3s ease-in, background-color .5s ease-out;
    font-weight: 500;
}

#submit:hover {
    background-color: #06D6A0;
    border: 3px solid lightgrey;
}



/*  SECTION 3 RESPONSIVE    */

@media screen and (max-width: 1200px) {
    .sectionThreeImage {
        width: 270px;
    }
}

@media screen and (max-width: 1100px) {
    .sectionThreeDivision {
        flex-direction: column;
        justify-content: start;
    }
    .sectionThreeForm {
        width: 100%;
        flex-grow: 1;
    }
    .sectionThreeImage {
        width: 350px;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .sectionThree {
        padding: 40px;
    }
}

@media screen and (max-width: 500px) {
    .sectionThree {
        padding: 0;
    }
    .sectionThreeDivision {
        width: 100%;
    }
    .sectionThreeForm {
        margin: 1em;
        width: 100%;
    }
    .imgWrapper {
        width: 270px;
    }
    
}

footer {
    width: 100%;
    padding: 5px 90px;
    background: #06D6A0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}



@media screen and (max-width: 800px) {
    .projectimage {
        width: 230px;
    }

    .projectimage img {
        width: 100%;
        height: 140px;
    }
    
}

@media screen and (max-width: 600px) {
    footer {
        padding: 5px 20px;
    }
    #name, #email, #message {
        width: 100%;
    }
}

/*
<img src="https://img.icons8.com/bubbles/50/000000/github.png"/>
<img src="https://img.icons8.com/bubbles/50/000000/twitter.png"/>
*/
